# import

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import io
import boto3

# s3 client & bucket_list

In [4]:
s3_client = boto3.client(service_name="s3",
                         aws_access_key_id="AKIA5SHMC74H2QMNG2FB",
                         aws_secret_access_key="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")
s3 = boto3.resource('s3')
bucket = s3.Bucket('elice-team5-bucket')
for obj in bucket.objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/서울시 우리마을가게 상권분석서비스(상권-상권변화지표).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/서울시 우리마을가게 상권분석서비스(자치구별 상권변화지표).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-변화지표/서울시 우리마을가게 상권분석서비스(행정동별 상권변화지표).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-영역/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-영역/서울시 우리마을가게 상권분석서비스(상권영역)-위도,경도 추가.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-영역/서울시 우리마을가게 상권분석서비스(상권영역).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2014년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2015년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2016년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2017년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2018년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2019년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-점포/서울시_우리마을가게_상권분석서비스(상권-점포)_2020년.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2016.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2017.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2018.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시우리마을가게상권분석서비스(상권-추정매출)_2020.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권-추정매출/서울시우리마을가게상권분석서비스(상권-추정매출)_2021.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-소득소비/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-소득소비/서울시 우리마을가게 상권분석서비스(상권배후지-소득소비).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2016년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2017년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2018년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2019년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2020년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='상권배후지-추정매출/2021년_우리마을가게_상권서비스_상권배후지-추정매출.csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권-생활인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권_상주인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권배후지-상주인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권배후지-생활인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='인구/서울시 우리마을가게 상권분석서비스(상권배후지-직장인구).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권-아파트).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권-집객시설).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권배후지-아파트).csv')
s3.ObjectSummary(bucket_name='elice-team5-bucket', key='주변시설/서울시 우리마을가게 상권분석서비스(상권배후지-집객시설).csv')

# 연도별 (상권-추정매출).csv 파일 불러오기 함수

In [5]:
def csv_into_df(year):
    if year < 2020:
        csv_title = '상권-추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_' + str(year) + '.csv'
    else:
        csv_title = '상권-추정매출/서울시우리마을가게상권분석서비스(상권-추정매출)_' + str(year) + '.csv'
    obj = s3_client.get_object(Bucket="elice-team5-bucket", Key=csv_title)
    df = pd.read_csv(io.BytesIO(obj["Body"].read()), encoding='cp949', low_memory=False)
    return df

# 서울시 서비스 업종 코드별 추정 월별 평균 매출 함수

In [6]:
def monthly_sales_df(df):
    grouped_df = df.groupby(['서비스_업종_코드_명']).sum()
    grouped_df["월별_평균_매출"] = grouped_df['분기당_매출_금액']/grouped_df['점포수']/4
    result_df = grouped_df.loc[:,['분기당_매출_금액', '점포수', '월별_평균_매출']].sort_values('월별_평균_매출', ascending=False)
    return result_df

# value 소숫점 표현식

In [7]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

# 2018년 추정 매출

In [8]:
monthly_sales_2018 = monthly_sales_df(csv_into_df(2018))

# 2019년 추정매출

In [9]:
monthly_sales_2019 = monthly_sales_df(csv_into_df(2019))

# 2020년 추정매출

In [8]:
monthly_sales_2020 = monthly_sales_df(csv_into_df(2020))

# 2021년 추정매출

In [9]:
monthly_sales_2021 = monthly_sales_df(csv_into_df(2021))

In [10]:
monthly_sales_2021.index

Index(['수산물판매', '의료기기', '청과상', '육류판매', '가전제품', '컴퓨터및주변장치판매', '미곡판매', '일반의원',
       '의약품', '편의점', '가구', '자전거 및 기타운송장비', '반찬가게', '문구', '운동/경기용품', '치과의원',
       '조명용품', '서적', 'PC방', '완구', '슈퍼마켓', '시계및귀금속', '한의원', '제과점', '스포츠클럽',
       '일식음식점', '안경', '일반교습학원', '골프연습장', '중식음식점', '한식음식점', '외국어학원', '전자상거래업',
       '섬유제품', '자동차수리', '양식음식점', '화장품', '신발', '자동차미용', '패스트푸드점', '가방', '핸드폰',
       '커피-음료', '화초', '애완동물', '일반의류', '가전제품수리', '분식전문점', '호프-간이주점', '인테리어',
       '철물점', '스포츠 강습', '고시원', '예술학원', '치킨전문점', '여관', '미용실', '피부관리실', '세탁소',
       '네일숍', '노래방', '당구장', '부동산중개업'],
      dtype='object', name='서비스_업종_코드_명')

In [11]:
monthly_sales_2021.columns

Index(['분기당_매출_금액', '점포수', '월별_평균_매출'], dtype='object')

In [12]:
monthly_sales_2021.iloc[0:5]

                 분기당_매출_금액   점포수  월별_평균_매출
서비스_업종_코드_명
수산물판매         932191685144  2227 104646574
의료기기          601331964653  1529  98321119
청과상          1275074175067  4646  68611396
육류판매         1361412448848  5702  59690128
가전제품          588553275598  2515  58504302

# 18-19 추정매출 증감률

In [10]:
monthly_sales_2019['전년도비_매출_증감'] = monthly_sales_2019['월별_평균_매출'] - monthly_sales_2018['월별_평균_매출']
monthly_sales_2019['전년도비_매출_증감률'] = monthly_sales_2019['월별_평균_매출'] / monthly_sales_2018['월별_평균_매출'] * 100 - 100
monthly_sales_2019.sort_values('전년도비_매출_증감률', ascending=False)

                 분기당_매출_금액    점포수  월별_평균_매출  전년도비_매출_증감  전년도비_매출_증감률
서비스_업종_코드_명
수산물판매        1194932763729   4370  68359998    38836478          132
의료기기          431516379684   2737  39415088    21142728          116
조명용품          429699982590   9127  11770023     3603799           44
컴퓨터및주변장치판매   3500438204573  17163  50988146    14676962           40
미곡판매          226679969744   1913  29623624     5132088           21
...                    ...    ...       ...         ...          ...
애완동물           57858737532   2008   7203528    -2838358          -28
가방            202009823699   6225   8112844    -3782846          -32
스포츠클럽         252039695074   2954  21330374   -13814754          -39
청과상          1245034843680   9078  34287146   -27787116          -45
부동산중개업         11110365599   3080    901815    -3720412          -80

[63 rows x 5 columns]

# 19-20 추정매출 증감률

In [22]:
monthly_sales_2020['전년도비_매출_증감'] = monthly_sales_2020['월별_평균_매출'] - monthly_sales_2019['월별_평균_매출']
monthly_sales_2020['전년도비_매출_증감률'] = monthly_sales_2020['월별_평균_매출'] / monthly_sales_2019['월별_평균_매출'] * 100 - 100
monthly_sales_2020.sort_values('전년도비_매출_증감률', ascending=False)

,분기당_매출_금액,점포수,월별_평균_매출,전년도비_점포수_증감,전년도비_점포수_증감률,전년도비_매출_증감,전년도비_매출_증감률
서비스_업종_코드_명,,,,,,,
조명용품,1009027236618,9386,26875859,259,3,15105836,128
의료기기,1094924378834,3277,83531002,540,20,44115915,112
청과상,2352935718404,9390,62644721,312,3,28357575,83
육류판매,2784865447683,11705,59480253,170,1,24564027,70
가전제품,1213880331068,5165,58755098,-127,-2,22802961,63
...,...,...,...,...,...,...,...
네일숍,51244858345,4739,2703358,151,3,-926674,-26
패스트푸드점,500321766888,10861,11516476,901,9,-4985226,-30
여관,237487050873,9608,6179409,-549,-5,-3377581,-35
노래방,244253082412,19358,3154420,-608,-3,-2016727,-39
고시원,14131659720,640,5520180,-458,-42,-9116417,-62

# 20-21 추정매출 증감률

In [24]:
monthly_sales_2021['전년도비_매출_증감'] = monthly_sales_2021['월별_평균_매출'] - monthly_sales_2020['월별_평균_매출'] # 2021 데이터는 2분기까지
monthly_sales_2021['전년도비_매출_증감률'] = monthly_sales_2021['월별_평균_매출'] / monthly_sales_2020['월별_평균_매출'] * 100 - 100
monthly_sales_2021.sort_values('전년도비_매출_증감률', ascending=False)

,분기당_매출_금액,점포수,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률
서비스_업종_코드_명,,,,,,,
자전거 및 기타운송장비,9149164584,58,39436054,12953167,49,2,2
화초,157693514702,4692,8402255,2061864,33,36,0
시계및귀금속,676283249073,8502,19886005,4149849,26,-393,-2
스포츠 강습,131782284496,4932,6679962,1188834,22,305,3
고시원,9392309481,359,6540605,1020426,18,78,12
...,...,...,...,...,...,...,...
컴퓨터및주변장치판매,2005474257794,8849,56658217,-14776476,-21,-376,-2
당구장,31727723616,4201,1888105,-508547,-21,-220,-3
호프-간이주점,583970586243,19466,7499879,-2559266,-25,-3773,-9
치킨전문점,174036313416,6849,6352618,-2392749,-27,-79,-1
노래방,77428618196,9022,2145550,-1008870,-32,-1314,-7

# 18-19 점포 수 증감, 증감률

In [14]:
monthly_sales_2019['전년도비_점포수_증감'] = (monthly_sales_2019['점포수']) - monthly_sales_2018['점포수'] 
monthly_sales_2019['전년도비_점포수_증감률'] = (monthly_sales_2019['점포수']) / monthly_sales_2018['점포수'] * 100 - 100
monthly_sales_2019.sort_values('전년도비_점포수_증감률', ascending=False)

                  분기당_매출_금액    점포수  월별_평균_매출  전년도비_점포수_증감  전년도비_점포수_증감률
서비스_업종_코드_명
외국어학원          504156356997   8020  15715597          899            13
분식전문점         1697104792589  42311  10027563         3958            10
커피-음료         2255213047104  47827  11788389         3176             7
피부관리실          213941571586  13959   3831606          657             5
스포츠 강습         239763061493   8820   6796005          164             2
...                     ...    ...       ...          ...           ...
인테리어           175089154468   5999   7296598        -2170           -27
자전거 및 기타운송장비    41281110621    375  27520740         -148           -28
육류판매          1611034668032  11535  34916226        -6167           -35
핸드폰            335359887797   7355  11399044        -4352           -37
부동산중개업          11110365599   3080    901815       -14990           -83

[63 rows x 5 columns]

# 19-20 점포 수 증감, 증감률

In [15]:
monthly_sales_2020['전년도비_점포수_증감'] = (monthly_sales_2020['점포수']) - monthly_sales_2019['점포수']
monthly_sales_2020['전년도비_점포수_증감률'] = (monthly_sales_2020['점포수']) / monthly_sales_2019['점포수'] * 100 - 100
monthly_sales_2020.sort_values('전년도비_점포수_증감률', ascending=False)

                 분기당_매출_금액    점포수  월별_평균_매출  전년도비_점포수_증감  전년도비_점포수_증감률
서비스_업종_코드_명
의료기기         1094924378834   3277  83531002          540            20
반찬가게         2537305699548  16095  39411396         2407            18
가전제품수리         40446137266   1449   6978285          154            12
커피-음료        2033490522606  53382   9523297         5555            12
패스트푸드점        500321766888  10861  11516476          901             9
...                    ...    ...       ...          ...           ...
부동산중개업          9578477722   2899    826016         -181            -6
슈퍼마켓         3078085289980  34610  22234075        -2526            -7
완구             87938825389   1014  21681170          -79            -7
고시원            14131659720    640   5520180         -458           -42
자전거 및 기타운송장비   12076196702    114  26482888         -261           -70

[63 rows x 5 columns]

# 20-21 점포 수 증감, 증감률

In [25]:
monthly_sales_2021['전년도비_점포수_증감'] = (monthly_sales_2021['점포수']*2) - monthly_sales_2020['점포수'] # 2021 데이터는 2분기까지 밖에 없음
monthly_sales_2021['전년도비_점포수_증감률'] = (monthly_sales_2021['점포수']*2) / monthly_sales_2020['점포수'] * 100 - 100
monthly_sales_2021.sort_values('전년도비_점포수_증감률', ascending=False)

,분기당_매출_금액,점포수,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률
서비스_업종_코드_명,,,,,,,
고시원,9392309481,359,6540605,1020426,18,78,12
외국어학원,233466404954,4395,13280228,-383649,-3,814,10
피부관리실,105418342973,7349,3586146,51648,1,976,7
분식전문점,687826270297,22872,7518213,-809564,-10,2770,6
반찬가게,1288450457682,8400,38346740,-1064657,-3,705,4
...,...,...,...,...,...,...,...
핸드폰,118767881961,3329,8919186,-1001989,-10,-707,-10
네일숍,21727949255,2104,2581743,-121615,-4,-531,-11
PC방,148230743155,1736,21346593,-1100392,-5,-587,-14
완구,35086195982,426,20590491,-1090679,-5,-162,-16
부동산중개업,3171703348,1001,792134,-33882,-4,-897,-31

In [17]:
monthly_sales_2020['점포수'].loc['화초']

9348

In [21]:
monthly_sales_2021

,분기당_매출_금액,점포수,월별_평균_매출,전년도비_매출_증감,전년도비_매출_증감률,전년도비_점포수_증감,전년도비_점포수_증감률
서비스_업종_코드_명,,,,,,,
수산물판매,932191685144,2227,104646574,-2658291,-2,-280,-6
의료기기,601331964653,1529,98321119,14790117,18,-219,-7
청과상,1275074175067,4646,68611396,5966675,10,-98,-1
육류판매,1361412448848,5702,59690128,209875,0,-301,-3
가전제품,588553275598,2515,58504302,-250797,-0,-135,-3
...,...,...,...,...,...,...,...
세탁소,47086834381,4145,2839978,143945,5,195,2
네일숍,21727949255,2104,2581743,-121615,-4,-531,-11
노래방,77428618196,9022,2145550,-1008870,-32,-1314,-7
당구장,31727723616,4201,1888105,-508547,-21,-220,-3
부동산중개업,3171703348,1001,792134,-33882,-4,-897,-31